<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.thomasinc.dsaapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DSAApp">
        <activity
            android:name=".ui.character.CharacterEditorActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity android:name=".CharacterSkillValueInput" />
        <activity
            android:name=".ui.character.CharacterCreationActivity"
            android:parentActivityName=".ui.character.CharacterEditorActivity" />
        <activity
            android:name=".ui.dice.DiceActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity android:name=".Skills" />
        <activity android:name=".SkillsKat" />
        <activity android:name=".ui.character.AttributeActivity" />
        <activity android:name=".chooseSkill" />
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>